# ملفات النظام
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ملفات قاعدة البيانات
*.db
*.sqlite3

# بيئات افتراضية
venv/
ENV/
.env

# ملفات السجلات
logs/
*.log

# ملفات تهيئة النصوص
.vscode/
.idea/
*.swp
*.swo

# ملفات أخرى
.DS_Store
Thumbs.db